bin/
gen/
obj/
libs/*/*.so
/target

/src/main/resources/~$Dasar-Dasar Pemograman Java.pptx
/src/main/resources/~$Fundamental Java dan Penggunaan Tools dari Framework yang dibuat Khusus Sharing Vision Untuk Mendukung Strategi Bisnis Indonesia Re.pptx
